form{
    border: 2px solid gray;
    float: left;
    width: 570px;
    height: 200px;
    margin-left: 550px;
}
table{
    border-spacing: 30px;
}

#submit{
    padding:4px 15px;
    width:120px;
    height:40px;
    border:1px solid #fff;
    font:16px bolder;
    margin-left: 180px;
}
input::-webkit-input-placeholder {
    font-size: 5px;
}